<header class="app-header app-header--solid" id="header">
  <nav class="navbar navbar-expand-md justify-content-between">
    <a class="navbar-brand" title="Forest Operations Map - FOM" routerLink="/home">
      <span class="navbar-brand__title">
        Forest Operations Map - Admin 
      </span>
    </a>
    <span class="navbar-environment" *ngIf="environmentDisplay">{{environmentDisplay}}</span>
    <button class="navbar-toggler" type="button" title="Toggle Main Navigation"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="toggleNav()">
      <em class="material-icons">menu</em>
    </button>

    <div class="navbar-collapse" [@toggleNav]="isNavMenuOpen ? 'navOpen' : 'navClosed'" id="mainNav">
      <ul *ngIf="user" class="navbar-nav">
        <li *ngIf="user.isForestClient" class="nav-item">
          <a class="nav-link" routerLink="/a/create" title="Add a new FOM" tabindex="0">
            <span>Add new FOM</span>
          </a>
        </li>
        <div class="v-bar"><div></div></div>
        <li *ngIf="user.isMinistry || user.isForestClient" class="nav-item">
          <a class="nav-link" routerLink="/search" title="Search for FOMs" tabindex="1">
            <span>Search for FOM</span>
          </a>
        </li>
        <div class="v-bar"><div></div></div>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" title="Training modules" tabindex="2">
              <span>Training modules</span>
          </a>
        </li>
        <div class="v-bar"><div></div></div>
        <li class="nav-item">
          <!-- disable link, just displaying name -->
          <a class="nav-link" title="Login User" style="pointer-events: none">
            <span>{{user.displayName}}</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToLogout()" title="Log out" tabindex="3">
            <span>Logout</span> 
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
