@import "../../assets/styles/base/base.scss";

.app-header {
  @include clearfix;

  padding: 0;
  border-bottom: 2px solid $gold;
  background: $header-bg;
  color: $header-font-color;
  z-index: 1001;
}

@media (min-width: 768px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-bottom-color: rgba(#5475a7, 0.4);
    background-color: transparent;
    transition: all linear 0.2s;
  }

  .app-header--flex {
    @include flex(0 0 auto);

    position: relative;
    border-bottom-width: 2px;
    border-bottom-color: $gold;
    background: $header-bg;
    color: $header-font-color;
  }

  .app-header--solid {
    border-bottom: 2px solid $gold;
    background: $header-bg;
    color: $header-font-color;
  }
}

// Navbar Toggle Button
.navbar-toggler {
  margin-right: 0.5rem;
  padding: 0.5rem 0.4rem;
  border: 2px solid $gold;
  color: $gold;
  font-size: medium;
  font-weight: 600;
  outline: none; // override user agent stylesheet default
  
  &:hover {
      cursor: pointer;
  }

  &.collapsed {
      border: 2px solid transparent;
      color: $white;
  }

  i {
      float: left;
      margin-top: -0.25rem;
      margin-bottom: -0.25rem;

      + span {
      display: none;
      margin-top: 1px;
      margin-left: 0.25rem;
      font-size: $mn-font-size;
      font-weight: 700;
      vertical-align: top;
      }
  }
}


@media (min-width: 420px) {
  .navbar-toggler {
    i {
      + span {
        display: inline-block;
      }
    }
  }
}

// NAVBAR
.navbar {
  padding: 0;
  background-color: $header-bg;
  z-index: 1000;
  flex:1 1 0;

  .navbar-nav {
    margin-top: 0.5rem;

    .nav-link {
      position: relative;
      z-index: 1001; // +1 to keep above dropdown menus
      padding: 0.875rem 1rem;
      border-top: 1px solid $mn-border-color;
      color: $mn-color;
      cursor: pointer;
    }

    .dropdown {
      &.show {
        .dropdown-toggle {
          color: $gold;
        }
      }
    }

    .dropdown-menu {
      padding-top: 0;
      border: none;
      border-radius: 0;
      background-color: transparent;

      .dropdown-item {
        padding: 0.5rem 1rem;
        color: $mn-color;
        font-size: $mn-dropdown-menu-size;
        white-space: normal;
        cursor: pointer;

        strong {
          font-weight: 600;
          transition: color 0.2s ease-out;
        }

        .dd-item-desc {
          display: block;
          font-size: small;
          opacity: 0.5;
          transition: opacity 0.2s ease-out;
        }

        &:focus,
        &:hover {
          background: transparent;

          strong {
            color: $mn-hover-color;
          }

          .dd-item-desc {
            opacity: 1;
          }
        }
      }
    }
  }

  .navbar-environment {
    padding: 0 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #063;
    border-radius: 1.5rem;
    text-transform: uppercase;
  }

  .navbar-collapse {
    overflow: hidden;
  }

  @media screen and (max-width: 440px) {
    .navbar-environment {
      padding: 0 1em;
      font-size: 1em;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    background: transparent;

    .navbar-nav {
      margin-top: 0;

      .nav-link {
        height: 4.2rem; // 60px to match the branding height
        padding: 0.5rem 0.75rem !important;
        border-top: none;

        span {
          margin-top: 0.9rem;
          display: inline-block;
        }

        &:hover {
          background-color: #002663;
        }
      }

      > li {
        .dropdown-menu {
          top: 100% !important;
          right: 0;
          left: auto !important;
          margin: 0;
          width: auto !important;
          min-width: 10rem;
          padding: 0.5rem;
          background-color: #002663;

          &.dm-sm {
            min-width: 12rem;
          }

          .dropdown-item {
            padding: 0.5rem;
          }
        }

        &.dropdown {
          &.show {
            .dropdown-toggle {
              color: $mn-color;
            }

            .dropdown-menu {
              display: none;
            }
          }

          &:hover {
            > a,
            > a:hover,
            > a:focus {
              background-color: #002663;
              border: none;
            }

            .dropdown-menu {
              display: block;
            }
          }
        }
      }

    }
  }

  .navbar-collapse {
    overflow: visible;
    height: auto !important;
    flex-grow: 0;
  }
}

// Navbar Brand
.navbar-brand {
  height: 3.4375rem;
  background-image: url(../../assets/images/bcgov-header-vert-MD.png);
  background-position: 8px center;
  background-repeat: no-repeat;
  white-space: normal;
  display: flex;
}

.navbar-brand__title {
  margin-left: 75px;
  display: inline-block;
  color: $mn-color;
  line-height: 1.1rem;
  font-size: 1rem;
  align-self: center;

  .wb {
    display: block;
  }
}

.navbar-brand__version {
  margin-top: -0.1rem;
  display: inline-block;
  color: $gold;
  font-size: 0.5rem;
  font-weight: 700;
  vertical-align: top;
}

// Vertical separator
div.v-bar {
  display: flex;
  div {
    align-self: center; // place itself at middle of flex container.
    height: 2rem;
    border-right: 2px solid grey;
  }
}