@import "../../../assets/styles/components/expend-panel.scss";
$space-10: 10px;

.table-title {
    margin-bottom: $space-10;
    font-weight: bold;
    text-decoration: underline;
}

.field-table {
    width: 60%;
}

table {
    margin-bottom: 1em;
    th {
        background-color: #f1f1f1;
    }
    
    th, td {
        border: 1px solid #d4d4d4;
        padding: 0.35em;
    }
}

section {
    margin-top: 2.5em;
    pre {
        margin-top: -2em; 
        margin-bottom: 0em;
    }
}

ol {
    margin: 1em 0;
    li {
        margin-bottom: 0.5em;
    }
}
