<div class="form-text" *ngIf="showInfo">
  <div>Maximum of {{maxFiles}} files, up to {{maxSize}}MB each.</div>
  <div>Acceptable file types: {{fileExt.slice().join(', ')}}</div>
</div>

<div class="file-upload" draggable="true" ngClass="{{dragDropClass}}">
  <input type="file" #file [multiple]="(maxFiles !== 1)" (change)="onFileChange($event)" />
  <div class="file-upload__target">
    <div class="file-upload__prompt">
      <em class="file-upload__prompt-icon material-icons">file_upload</em>
      <span><a href="javascript:void(0)" (click)="file.click()">Click to browse</a> or drag files here.</span>
    </div>
  </div>
</div>

<ul class="doc-list" *ngIf="showList && files.length > 0">
  <li class="doc-list__item" *ngFor="let f of files">
    <div class="cell doc-list__item-icon">
      <em class="material-icons">insert_drive_file</em>
    </div>
    <div class="cell doc-list__item-name" [title]="f.displayName || ''">
      {{f.name}}
    </div>
    <div class="cell doc-list__item-actions">
      <button class="btn btn-icon" type="button" title="Remove this file" (click)="removeFile(f)">
        <em class="material-icons">delete</em>
      </button>
    </div>
  </li>
</ul>

<div *ngIf="errors.length > 0" class="errors-list">
  <ul>
    <li *ngFor="let err of errors">
      <em class="material-icons">error</em>&nbsp;{{err}}</li>
  </ul>
</div>