<!-- <ngb-alert type="danger" [dismissible]="false" *ngFor="let alert of alerts">{{alert}}</ngb-alert> -->
<ng-container *ngIf="publicComments$ | async as data">
  <div class="top-container">
    <div class="container">
      <div class="breadcrumb-container">
        <a [routerLink]="['/a', projectId]">
          <em class="material-icons md-20">arrow_back </em> Back to FOM Details</a>
      </div>
      <div class="title-container">
        <div class="title-container__title">
          <h1>Review Comments for FOM ID : {{projectId}}</h1>
        </div>
      </div>
    </div>
  </div>


  <div class="bottom-container">
    <div class="container">
      <div class="review-comments">
        <div class="review-comments__list panel">
          <div class="panel-header">
            <h2 style="margin: 0;">Comments ({{data?.length}})</h2>
            <div>
              <!-- <mat-label>Commenting Scope</mat-label> -->
              <mat-form-field [style.width.px]=320>
                <mat-select [(ngModel)]="selectedScope" name="commentScope"
                    (selectionChange)="onScopeOptionChanged(selectedScope)">
                  <mat-option *ngFor="let opt of commentScopeOpts" [value]="opt">
                    <small>{{opt.desc}} {{opt.scopeId}} {{opt.name}}</small>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="panel-scroll" #commentListScrollContainer>
            <ng-container *ngIf="data">
              <div class="comment-item" *ngFor="let item of data" [class.active]="item?.id === selectedItem?.id"
                    (click)="onReviewItemClicked(item, null)">
                <div class="comment-item-header">
                  <div class="comment-author">
                    {{item.name || 'Anonymous'}}
                  </div>
                  <div class="comment-response">
                    {{item.commentScope.description}}
                        {{ (commentScopeCodes.CUT_BLOCK.code === item.commentScope.code)? '#'+ item.scopeCutBlockId: 
                            ((commentScopeCodes.ROAD_SECTION.code === item.commentScope.code)? '#'+ item.scopeRoadSectionId:
                            '')
                        }}
                  </div>
                  <div class="comment-date">
                    {{(item.createTimestamp | date) || '-'}}
                  </div>
                  <div class="comment-response">
                    {{item.response?.description || '(not actioned)'}}
                  </div>
                </div>
                <div class="comment-body">{{item.feedback}}</div>
              </div>
            </ng-container>
          </div>

        </div>
        <div class="review-comments__detail panel">
          <div class="panel-scroll">
            <app-comment-detail #commentDetailForm="commentForm"
                [responseCodes]="responseCodes"
                [canReplyComment]="canReplyComment()">
              <div class="row">
                <button type="button" title="Save this comment response"
                        class="btn btn-sm btn-primary btn-container"
                        [disabled]="loading"
                        [hidden]="!canReplyComment()"
                        (click)="saveComment(commentDetailForm.commentFormGroup.value, commentDetailForm.comment)">
                  Save response
                </button>
              </div>
            </app-comment-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noComments>
  No comments available for the application.
</ng-template>
