<app-header></app-header>
<router-outlet id="scrollTop"></router-outlet>
<app-footer></app-footer>

<!-- 
	'pageScroll' (ngx-page-scroll, ngx-page-scroll-core packages) is removed during migration to Angular 11 
	due to incompatibility with Angular 11 at the moment. It may soon to have compatible version release and
	we can add it back. 
	<a href="#scrollTop" class="btn scroll-top-btn visible" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="800"> 
-->
<a href="#scrollTop" class="btn scroll-top-btn visible">
	<i class="material-icons">arrow_upward</i>
</a>