@import "../../../../assets/styles/base/base.scss";

$light-blue: #007bff;

label {
  white-space: nowrap;
  font-weight: bold;
}

.interaction-detail-container {
  padding: 1.5rem 2rem;
}

.title-container__title {
  @include flex-box();

  align-items: baseline;

  h2 {
    @include flex(1 1 auto);

    margin-bottom: 0;
    letter-spacing: -0.02rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.interaction-detail__meta {
  margin-top: 0.5rem;
  font-size: 90%;
}

.interaction-detail__scope {
  margin-top: 1.25rem;
  .scope-desc {
    font-weight: 650;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $light-blue;
  }
}

.interaction-detail__body {
  margin-top: 1.25rem;
}

.interaction-detail__attachments {
  margin-top: 2rem;
}

.interaction-detail__date {
  color: #999;
  white-space: nowrap;
  font-size: 90%;
}

.interaction-alert {
  margin-top: 1em;
}
