# Caddy's configuration file to serve up frontend. (Require Caddy installed/downloaded in system)
# Local: Assume local build is ready at './dist/public'; at root working directory run command "caddy run --watch" at console.
#        Then access local frontend app: http://localhost:4300/public/projects

:4300 {
    log {
        level DEBUG
        format json
        output stdout
    }

    # Good practice to compress responses.
    encode zstd gzip

    root /* ./dist/public

   # 'handle_path' does the match of the path and stripping the matched prefix out.
    handle_path /public/* {
        try_files {path} {path}/ {file} /index.html
    }

    file_server
}


##################
# Some Notes.
##################

# If 'root' directive is used, it has to be before other directives such as 'try_files'.

# Below only work for general, it does not work for subfolder files access; e.g., /public/assets
# try_files {path} {path}/ {file} /index.html

# This is similar like handle_path above and works as well for try_files subfolders.
# route /public/* {
#      uri strip_prefix /public
#      try_files {path} {path}/ {file} /index.html
# }