
<div class="filter-container">
  <div class="filter-panel">
    <div>
      <label class="control-label">FOM Holder Name (or portion)</label>
      <input id="forestClientNameInput" type="text"
            class="form-control"
            maxlength="80" />
    </div>

    <div>
      <label class="control-label">District</label>
      <input id="forestClientNameInput" type="text"
            class="form-control"
            maxlength="40"/>
    </div>

    <div>
      <label class="control-label">Posted As Of</label>
      <div class="date-range__input">
        <input
          class="form-control"
          type="text"
          placeholder="YYYY-MM-DD"
        />
      </div>
    </div>
  </div>
  
  <div>
    <button class="btn btn-primary btn-sm">Filter</button>
  </div>
</div>