<div class="hero-banner">
	<div class="container">
		<div class="container-inner">
			<div class="hero-banner__content">
				<h1>Contact Us</h1>
				<p>If you have questions about the Forest Operations Map, or questions about how to use this website, contact the NRS Service Desk.</p>
			</div>
		</div>
	</div>
</div>

<section class="container" id="anchor-point">
  <div class="block-container">
    <div class="block">
      <div class="inner-block">
        <span class="icon-container">
          <em class="material-icons">
            phone
          </em>
        </span>
        <h3>Phone</h3>
        <p>Monday to Friday, 8:30am - 4:30pm</p>
        <div>Toll free: <strong>1-877-387-7000</strong></div>
        <div>Outside NA: <strong>+1-778-372-0729</strong></div>
      </div>
    </div>
    <div class="block">
      <div class="inner-block">
        <span class="icon-container">
          <em class="material-icons">
            email
          </em>
        </span>
        <h3>Email</h3>
        <p>For questions about the Forest Operations Map or how to use this website</p>
        <a href="mailto:nrsenquiries@gov.bc.ca">nrsenquiries@gov.bc.ca</a>
      </div>
    </div>
    <div class="block">
      <div class="inner-block">
        <span class="icon-container">
          <em class="material-icons">
            pin_drop
          </em>
        </span>
        <h3>Visit</h3>
        <p>Visit one of FrontCounter BC's many locations across the province</p>
        <a href="https://portal.nrs.gov.bc.ca/web/client/locations" target="_blank" rel="noopener">View Locations</a>
      </div>
    </div>
  </div>
</section>