<main>
	<div>
		<section class="container related-links">
			<h2>Related Information and Links</h2>
			<section>
				<div>
					<h3>Training for FSP Holders</h3>
					<p>Online course to create, administer and submit FOMs in the admin interface.</p>
				</div>	
				<a class="btn btn-primary" 
          href="https://bcgov.github.io/forestry-digital-services/assets/training/fom/#/" 
          target="_blank" 
          rel="noopener">
					Go to module
				</a>
			</section>
			<section>
				<div>
					<h3>Training for Reviewers (District staff)</h3>
					<p>Online course to review and administer FOMs in the admin interface.</p>
				</div>
        <a class="btn btn-primary" 
          href="https://trainingmodules.nrs.gov.bc.ca/Provincial/FOR/FOMReviewers/index.html#/" 
          target="_blank" 
          rel="noopener">
					Go to module 
				</a>
			</section>
		</section>
	</div>
</main>
