<div class="top-container">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1 class="text-muted"> Edit Public Notice</h1>
      </div>
      <div class="title-container__actions">
        <button
          class="btn btn-light"
          type="button"
          title="Cancel changes"
          (click)="cancelChanges()">
          Cancel
        </button>
        <button
          class="btn btn-primary ml-1"
          type="button"
          title="Create/Edit Public Notice"
          [disabled]="!publicNoticeFormGroup.valid || isLoading" 
          (click)="onSubmit()">
          {{ isLoading ? "Saving" : "Save" }}
          <em class="spinner rotating" [hidden]="!isLoading"></em>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="bottom-container">
  <div class="container">
    <form class="mb-3" 
      [formGroup]="publicNoticeFormGroup"
      (ngSubmit)="onSubmit()">

      <div class="row">
        <legend>Details</legend>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-2">
          <label for="id">ID</label>
          <input type="text"
            id="id" name="id"
            class="form-control"
            disabled
            [value]="projectId"/>
        </div>

        <div class="form-group col">
          <label for="fom-holder">FOM Holder</label>
          <input type="text"
            id="fom-holder" name="fom-holder"
            class="form-control"
            disabled
            [value]="publicNoticeResponse.fomHolder"/>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-2">
          <label for="fsp-id">FSP ID</label>
          <input type="number"
            id="fsp-id" name="fsp-id"
            class="form-control"
            disabled
            [value]="publicNoticeResponse.fspID"/>
        </div>

        <div class="form-group col">
          <label for="district">District</label>
          <input type="text"
            id="district" name="district"
            class="form-control" 
            disabled
            [value]="publicNoticeResponse.district" />
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-12">
          <label for="fom-summary">FOM Summary</label>
          <textarea 
            id="fom-summary" name="fom-summary"
            class="form-control"
            rows="2" 
            disabled>{{publicNoticeResponse.fomSummary}}
          </textarea>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-12">
          <label for="fom-description">FOM Description</label>
          <textarea 
            id="fom-description" name="fom-description"
            class="form-control"
            rows="4" 
            disabled>{{publicNoticeResponse.fomDescription}}
          </textarea>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="cmt-period">Commenting Period</label>
          <input type="text"
            id="cmt-period" name="cmt-period"
            class="form-control"
            disabled
            [value]="publicNoticeResponse.commentingPeriod"/>
        </div>

        <div class="form-group col">
          <label for="vld-period">Validity Period</label>
          <input type="text"
            id="vld-period" name="vld-period"
            class="form-control" 
            disabled
            [value]="publicNoticeResponse.validityPeriod" />
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-12">
          <label for="review-fom-address" class="required">Review FOM Address</label>
          <textarea class="form-control mb" rows="3" 
            id="review-fom-address" name="review-fom-address" 
            formControlName="reviewFOMAddress"
            maxlength="{{addressLimit}}">
          </textarea>
          <small>{{addressLimit-publicNoticeFormGroup.get('reviewFOMAddress').value?.length}} characters remaining.</small>
        </div>
      </div>
      
      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="fom-holder" class="required">Review FOM Business Hours</label>
          <input type="text"
            id="review-fom-hours" name="review-fom-hours"
            maxlength="50"
            class="form-control"
            formControlName="reviewFOMBusinessHours"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="sameAsReviewInd" class="required">Receive Comments Same as Review:</label>&nbsp;&nbsp;&nbsp;
          <input type="checkbox" class="medium-check-box"
          id="sameAsReviewInd" name="sameAsReviewInd"
          formControlName="sameAsReviewInd"/>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-12">
          <label for="receive-fom-address"
            [ngClass]="{'required': !publicNoticeFormGroup.get('sameAsReviewInd').value}">
            Receive Comments Address
          </label>
          <textarea class="form-control mb" rows="3" 
            id="receive-fom-address" name="receive-fom-address" 
            formControlName="receiveCommentsAddress"
            maxlength="{{addressLimit}}">
          </textarea>
          <small>{{addressLimit-publicNoticeFormGroup.get('receiveCommentsAddress').value?.length}} characters remaining.</small>
        </div>
      </div>
      
      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="receive-fom-hours"
            [ngClass]="{'required': !publicNoticeFormGroup.get('sameAsReviewInd').value}">
            Receive Comments Business Hours
          </label>
          <input type="text"
            id="receive-fom-hours" name="receive-fom-hours"
            maxlength="50"
            class="form-control"
            formControlName="receiveCommentsBusinessHours"/>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-12">
          <label for="mailing-address" class="required">Mailing Address</label>
          <textarea class="form-control mb" rows="3" 
            id="mailing-address" name="mailing-address" 
            formControlName="mailingAddress"
            maxlength="{{addressLimit}}">
          </textarea>
          <small>{{addressLimit-publicNoticeFormGroup.get('mailingAddress').value?.length}} characters remaining.</small>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="email" class="required">Email</label>
          <input type="text"
            id="email" name="email"
            maxlength="50"
            class="form-control"
            formControlName="email"/>
        </div>
      </div>
    
    </form>
  </div>
</div>