<div class="top-container">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1 class="text-muted">
          {{ editMode? (isAddNewNotice()? 'New': 'Edit' ): '' }}  Online Public Notice &nbsp; FOM ID: {{projectId}}
        </h1>
      </div>
      <div class="title-container__actions"
        *ngIf="publicNoticeFormGroup">
        <button
          class="btn btn-light"
          type="button"
          title="Cancel changes"
          (click)="cancelChanges()">
          Cancel
        </button>
        <button
          class="btn btn-primary ml-1"
          type="button"
          title="Create/Edit Public Notice"
          [disabled]="!publicNoticeFormGroup.valid || isLoading"
          *ngIf="editMode" 
          (click)="onSubmit()">
          {{ isLoading ? "Saving" : "Save" }}
          <em class="spinner rotating" [hidden]="!isLoading"></em>
        </button>

        <span class="vert-pipe" *ngIf="canDelete()">&nbsp;</span>
        <button class="btn btn-icon" title="Remove this Online Public Notice"
          *ngIf="canDelete()"
          (click)="deletePublicNotice()"
          [disabled]="isLoading">
          <em class="spinner-border" [hidden]="!isLoading"></em>
          <em class="material-icons" [hidden]="isLoading">
            delete
          </em>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="bottom-container">
  <div class="container"
    *ngIf="publicNoticeFormGroup">
    <form class="mb-3" 
      [formGroup]="publicNoticeFormGroup"
      (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-md-2">
          <legend>Details</legend>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-12">
          <label for="review-fom-address" [ngClass]="{'required': editMode}">Physical address to review FOM</label>
          <textarea class="form-control mb" rows="3" 
            id="review-fom-address" name="review-fom-address"
            [placeholder]="editMode? '101-11234 West 12th Avenue &#10;Vancouver BC V6H 1L9': ''"
            formControlName="reviewAddress"
            maxlength="{{addressLimit}}">
          </textarea>
          <small *ngIf="editMode">{{addressLimit-publicNoticeFormGroup.get('reviewAddress').value?.length}} characters remaining.</small>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('reviewAddress', 'required')">
            {{getErrorMessage('reviewAddress', 'required')}}
          </div>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('reviewAddress', 'notEmpty')">
            {{getErrorMessage('reviewAddress', 'notEmpty')}}
          </div>
        </div>
      </div>
      
      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="review-fom-hours" [ngClass]="{'required': editMode}">Business Hours to physically review FOM</label>
          <input type="text"
            id="review-fom-hours" name="review-fom-hours"
            [placeholder]="editMode? 'Monday to Friday 8am-4pm, Saturday 10am - 2pm': ''"
            maxlength="{{businessHoursLimit}}"
            class="form-control"
            formControlName="reviewBusinessHours"/>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('reviewBusinessHours', 'required')">
            {{getErrorMessage('reviewBusinessHours', 'required')}}
          </div>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('reviewBusinessHours', 'notEmpty')">
            {{getErrorMessage('reviewBusinessHours', 'notEmpty')}}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="sameAsReviewInd" [ngClass]="{'required': editMode}">Receive Comments Same as Review:</label>&nbsp;&nbsp;&nbsp;
          <input type="checkbox" class="medium-check-box"
          id="sameAsReviewInd" name="sameAsReviewInd"
          formControlName="isReceiveCommentsSameAsReview"
          (change)="onSameAsReviewIndToggled()"/>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('isReceiveCommentsSameAsReview', 'required')">
            {{getErrorMessage('isReceiveCommentsSameAsReview', 'required')}}
          </div>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-12">
          <label for="receive-fom-address"
            [ngClass]="{'required': !publicNoticeFormGroup.get('isReceiveCommentsSameAsReview').value && editMode}">
            Physical address to submit comments
          </label>
          <textarea class="form-control mb" rows="3" 
            id="receive-fom-address" name="receive-fom-address"
            [placeholder]="editMode? '101-11234 West 12th Avenue &#10;Vancouver BC V6H 1L9': ''"
            formControlName="receiveCommentsAddress"
            maxlength="{{addressLimit}}">
          </textarea>
          <small *ngIf="editMode">{{addressLimit-publicNoticeFormGroup.get('receiveCommentsAddress').value?.length}} characters remaining.</small>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('receiveCommentsAddress', 'required')">
            {{getErrorMessage('receiveCommentsAddress', 'required')}}
          </div>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('receiveCommentsAddress', 'notEmpty')">
            {{getErrorMessage('receiveCommentsAddress', 'notEmpty')}}
          </div>
        </div>
      </div>
      
      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="receive-fom-hours"
            [ngClass]="{'required': !publicNoticeFormGroup.get('isReceiveCommentsSameAsReview').value && editMode}">
            Business hours to physically submit comments
          </label>
          <input type="text"
            id="receive-fom-hours" name="receive-fom-hours"
            [placeholder]="editMode? 'Monday to Friday 8am-4pm, Saturday 10am - 2pm': ''"
            maxlength="{{businessHoursLimit}}"
            class="form-control"
            formControlName="receiveCommentsBusinessHours"/>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('receiveCommentsBusinessHours', 'required')">
            {{getErrorMessage('receiveCommentsBusinessHours', 'required')}}
          </div>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('receiveCommentsBusinessHours', 'notEmpty')">
            {{getErrorMessage('receiveCommentsBusinessHours', 'notEmpty')}}
          </div>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-12">
          <label for="mailing-address" [ngClass]="{'required': editMode}">Mailing Address</label>
          <textarea class="form-control mb" rows="3" 
            id="mailing-address" name="mailing-address"
            [placeholder]="editMode? 'Box 123 Surrey BC': ''"
            formControlName="mailingAddress"
            maxlength="{{addressLimit}}">
          </textarea>
          <small *ngIf="editMode">{{addressLimit-publicNoticeFormGroup.get('mailingAddress').value?.length}} characters remaining.</small>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('mailingAddress', 'required')">
            {{getErrorMessage('mailingAddress', 'required')}}
          </div>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('mailingAddress', 'notEmpty')">
            {{getErrorMessage('mailingAddress', 'notEmpty')}}
          </div>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="email" [ngClass]="{'required': editMode}">Email for Public Comment</label>
          <input type="text"
            id="email" name="email"
            maxlength="50"
            [placeholder]="editMode? 'name@industry.com': ''"
            class="form-control"
            formControlName="email"/>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('email', 'required')">
            {{getErrorMessage('email', 'required')}}
          </div>
          <div class="invalid-feedback" 
            *ngIf="publicNoticeFormGroup.touched && getErrorMessage('email', 'email')">
            {{getErrorMessage('email', 'email')}}
          </div>
        </div>
      </div>
    
    </form>
  </div>
</div>