
<div class="flex-panel" *ngIf="!isLoading && !pNotices">
  <div class="flex-panel__header">
    <h2 class="title">No Public Notices Found</h2>
  </div>
</div>

<div class="flex-panel" *ngIf="isLoading">
  <div>
    <h2 class="title">Loading public notices summary...</h2>
  </div>
</div>

<div class="flex-panel" *ngIf="pNotices">
  <div class="flex-panel__header" style="height: auto;">
    <h3>
      Public Notices
    </h3>
  </div>

  <div class="flex-panel__scroll">
    <div>
      <section>
 
        <div class="expansion-button">
          <button class="btn btn-primary btn-sm" (click)="accordion.openAll()">Expand</button>
          <button class="btn btn-light btn-sm" (click)="accordion.closeAll()">Collapse</button>
        </div>

        <mat-accordion multi>
          <!-- Public Notices Summary List-->
          <div *ngFor="let pn of pNotices">
            <mat-expansion-panel hideToggle [disabled]="requestError">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="container" style="padding: 0;">
                    <div class="row">
                      <div class="col-6 col-sm-1">#{{pn.fomNum}} </div>
                      <div class="col-6 col-sm-4">
                        <span matTooltip="{{pn.fomHolder}}">
                          {{pn.fomHolder | shorten: 25}}
                        </span>
                      </div>
                      <div class="col-6 col-sm-5">
                        <span matTooltip="{{pn.fomSummary}}">
                          {{pn.fomSummary | shorten: 40}}
                        </span>
                      </div>
                      <div class="col-6 col-sm-2" style="padding-right: 0;">{{pn.commentingOpen}}</div>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card>
                <ng-container [ngTemplateOutlet]="pNotice_fields_template"
                              [ngTemplateOutletContext]="{ pNotice: pn }">
                </ng-container>
                <button class="app-link btn btn-primary" (click)="showDetails()">View Details</button>
              </mat-card>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </section>
    </div>

    <!-- Comment item display template -->
    <ng-template #pNotice_fields_template let-pn="pNotice">
      <div class="row">
        <div class="col-5 col-sm-3 bold">FOM #: </div>
        <div class="col-7 col-sm-3 no-padding">{{pn.fomNum}}</div>
        <div class="col-5 col-sm-2 bold">FOM Holder: </div>
        <div class="col-7 col-sm-4 no-padding">{{pn.fomHolder}}</div>
      </div>

      <div class="row">
        <div class="col-5 col-sm-3 bold">FSP ID: </div>
        <div class="col-7 col-sm-3 no-padding">{{pn.fspID}}</div>
        <div class="col-5 col-sm-2 bold">District: </div>
        <div class="col-7 col-sm-4 no-padding">{{pn.district}}</div>
      </div>

      <div class="row">
        <div class="col-5 col-sm-3 bold">Email: </div>
        <div class="col-7 col-sm-9 no-padding">{{pn.email}}</div>
      </div>

      <div class="row no-padding">
        &nbsp;
      </div>

      <div class="row">
        <div class="col-sm-4 bold">Commenting Period: </div>
        <div class="col-sm-8">{{pn.commentingPeriod}}</div>
      </div>

      <div class="row">
        <div class="col-sm-4 bold">Validity Period: </div>
        <div class="col-sm-8">{{pn.validityPeriod}}</div>
      </div>

      <div class="row">
        <div class="col-sm-4 bold">FOM Summary: </div>
        <div class="col-sm-8">{{pn.fomSummary}}</div>
      </div>

      <div class="row">
        <div class="col-sm-4 bold">FOM Description: </div>
        <div class="col-sm-8">{{pn.fomDescription}}</div>
      </div>

      <div class="row">
        <div class="col-sm-4 bold">Review FOM Address: </div>
        <div class="col-sm-8">{{pn.reviewFOMAddress}}</div>
      </div>

      <div class="row">
        <div class="col-sm-4 bold">Review FOM Business Hours: </div>
        <div class="col-sm-8">{{pn.reviewFOMBusinessHours}}</div>
      </div>

      <div class="row">
        <div class="col-sm-4 bold">Receive Comments Address: </div>
        <div class="col-sm-8">{{pn.receiveCommentsAddress}}</div>
      </div>

      <div class="row">
        <div class="col-sm-4 bold">Receive Comments Business Hours: </div>
        <div class="col-sm-8">{{pn.receiveCommentsBusinessHours}}</div>
      </div>

      <div class="row">
        <div class="col-sm-4 bold">Mailing Address: </div>
        <div class="col-sm-8">{{pn.mailingAddress}}</div>
      </div>

      <div class="row">
        <div class="col-sm-4 bold">Public Notice URL: </div>
        <div class="col-sm-8">{{pn.publicNoticeURL}}</div>
      </div>
    </ng-template>
  </div>

</div>