<div class="top-container" *ngIf="fg">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1 class="text-muted">FSP ID: {{project.fspId}}</h1>
      </div>
      <div class="title-container__actions">
        <button
          class="btn btn-light"
          type="button"
          title="Cancel changes"
          (click)="cancelChanges()"
        >
          Cancel
        </button>
        <button
          class="btn btn-primary ml-1"
          type="button"
          title="Upload your GeoJSON FOM File"
          (click)="submit()"
          [disabled]="!isSubmissionAllowed()"
        >{{ isLoading ? "Submitting" : "Submit" }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="bottom-container" *ngIf="fg">

  <div class="container">

    <form class="mb-3" [formGroup]="fg">
      <div class="row">
        <legend>FOM Spatial Submission</legend>
      </div>
      <fieldset>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>FOM ID</label>
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control"
              id="id"
              name="name"
              disabled
              [value]="project.id"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-2">
            <label  style="white-space: nowrap;">Submission Type:</label>
          </div>
          <div class="col">
            <span
              class="value">
              {{originalSubmissionRequest.submissionTypeCode === 'FINAL' ? 'Final' : 'Proposed'}}
            </span>
          </div>
        </div>
        <p>
        <!-- <legend>Application Details</legend> -->
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>GeoSpatial Object Type:</label>
          </div>
          <div class="form-group col">
            <select name="objectType" class="sort-comments form-control" (change)="changeGeoType($event)" id="geoSpatialType-list">
              <option  [value]="geoType" *ngFor="let geoType of geoTypeValues"
                       [innerHTML]=" getGeoSpatialTypeDescription(geoType)"> </option>
            </select>
          </div>

        </div>
        <div class="form-group mb-0">

          <app-upload-box [multipleFiles]="false" [files]="applicationFiles" [fileTypes]="fileTypesParent"
                          (fileUploaded)="addNewFiles($event)"
                          (outputFileContent)="getContentFileFromUpload($event)">
          </app-upload-box>
          <div class="fileTypes"> <em>json, txt</em></div>
        </div>
      </fieldset>
      <br/>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>FOM Geospatial Submission Format - Instructions </strong>
          </mat-panel-title>
          <mat-panel-description>
            Click to expand/collapse
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><strong>Format Overview </strong> </p>

        <br>This FOM geospatial submission format is based on GeoJSON
        (<a href="https://geojson.org/" target="_blank">https://geojson.org/</a>,
        <a href="https://tools.ietf.org/html/rfc7946" target="_blank">https://tools.ietf.org/html/rfc7946</a>),
        but with some deviations. (Therefore, technically this is a JSON format, not compliant GeoJSON.)
        <br/>
        <br>Submit one JSON file per FOM geospatial object type: cut block, WTRA (wildlife tree retention area),
          and road section. A submission must include at least a cut block file or a road section file.
        <br/>
        <br>Each JSON file consists of one FeatureCollection object (as per GeoJSON) that lists geometries of the
          appropriate type (polygon or linestring) based on the FOM object type (see table below).
        <br/>
        <br>Unlike default GeoJSON, geometry points are specified using the BC Albers (EPSG:3005) coordinate reference
          system (not lat/long).  Coordinates are ordered as X, Y.
        <br/>
        <br>Geometries for cut blocks and road sections are also required to provide the property DEVELOPMENT_DATE.
          Providing the NAME property is optional, but recommended to make it easier for citizens to comment on specific
          features.
        <br/>
        <br>The JSON files should use UTF-8 for the character encoding.
        <table>
          <thead>
          <tr>
            <th>FOM Spatial Object / File</th>
            <th>Geometry Type</th>
            <th colspan="1">Required Properties</th>
            <th colspan="1">Optional Properties</th>
          </tr>
          </thead>
          <tr>
            <td>Road Section</td>
            <td>LineString</td>
            <td colspan="1" class="confluenceTd">DEVELOPMENT_DATE</td>
            <td colspan="1" class="confluenceTd">NAME</td>
          </tr>
          <tr>
            <td>Cut Block</td>
            <td>Polygon</td>
            <td colspan="1" class="confluenceTd">DEVELOPMENT_DATE</td>
            <td colspan="1" class="confluenceTd">NAME</td>
          </tr>
          <tr>
            <td>WTRA</td>
            <td >Polygon</td>
            <td colspan="1" class="confluenceTd">n/a</td>
            <td colspan="1" class="confluenceTd">NAME</td>
          </tr>
        </table>

        <br><strong>Property Format</strong>
        <br>
        <br>This table specifies the description and format of required properties.<br/>
        <table>
          <thead>
          <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Value Format</th>
          </tr>
          </thead>
          <tr>
            <td>DEVELOPMENT_DATE</td>
            <td>Planned date to start development</td>
            <td>Date in the format "YYYY-MM-DD"</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>Description/identifier for the spatial object.</td>
            <td>Text, maximum length 50 characters.</td>
          </tr>
        </table>
        <br><strong>FOM Example Submissions</strong>
        <br>
        <br>This section provides sample submission files.
        <br>
        <br><strong>Cut Block File</strong>
        <br>
        <br>This sample file contains two cut blocks.
        <br>
      <pre>
  &#123;
    "type": "FeatureCollection",
    "crs": &#123; "type": "name", "properties": &#123; "name": "EPSG:3005" } },
    "features": [
    &#123;
    "type": "Feature",
    "geometry": &#123;
    "type": "Polygon",
    "coordinates": [ [
      [1474614.5923999995, 555392.24159999937],
      [1474537.8630999997, 555275.82469999976],
      [1474588.1340999994, 555146.17860000022],
      [1474723.0717999991, 555080.0326000005],
      [1474818.3220000006, 555138.24110000022],
      [1474902.9889000002, 555220.26209999993],
      [1474818.3220000006, 555334.03309999965],
      [1474701.9050999992, 555437.22079999931],
      [1474614.5923999995, 555392.24159999937]
    ] ]
    },
    "properties": &#123;
    "DEVELOPMENT_DATE": "2022-03-30",
    "NAME": "Nature's valley"
  }
  },
  &#123;
    "type": "Feature",
      "geometry": &#123;
      "type": "Polygon",
      "coordinates": [ [
        [1474614.5923999995, 555392.24159999937],
        [1474537.8630999997, 555275.82469999976],
        [1474588.1340999994, 555146.17860000022],
        [1474723.0717999991, 555080.0326000005],
        [1474818.3220000006, 555138.24110000022],
        [1474902.9889000002, 555220.26209999993],
        [1474818.3220000006, 555334.03309999965],
        [1474701.9050999992, 555437.22079999931],
        [1474614.5923999995, 555392.24159999937]
      ] ]
        },
        "properties": &#123;
        "DEVELOPMENT_DATE": "2022-03-31",
        "NAME": "My shiny road"
        }
    }
  ]
  }
        </pre>
        <strong>WTRA File</strong>
        <br>
        <pre>
   &#123;
   "type": "FeatureCollection",
   "crs": &#123; "type": "name", "properties": &#123; "name": "EPSG:3005" } },
  "features": [
    &#123;
      "type": "Feature",
      "geometry": &#123;
          "type": "Polygon",
          "coordinates": [ [
            [1474782.182, 555366.06629999913],
            [1474701.9050999992, 555437.22079999931],
            [1474651.1418999992, 555411.07010000013],
            [1474667.5091999993, 555386.94989999942],
            [1474760.1136000007, 555331.38729999959],
            [1474782.182, 555366.06629999913]
          ] ]
      },
      "properties": &#123;
          }
    }
  ]
  }
        </pre>
        <strong>Road Section File</strong>
        <br>
        <pre>
  &#123;
   "type": "FeatureCollection",
   "crs": &#123; "type": "name", "properties": &#123; "name": "EPSG:3005" } },
   "features": [
    &#123;
      "type": "Feature",
      "geometry": &#123;
          "type": "LineString",
          "coordinates": [
            [1473871.1118000001, 555638.30460000038],
            [1474085.4246999994, 555524.53350000083],
            [1474315.6127000004, 555445.15839999914],
            [1474426.7379000001, 555341.97069999948],
            [1474543.9969999995, 555285.13130000047],
            [1474648.9882999994, 555283.76219999976],
            [1474775.9886000007, 555259.94969999976],
            [1474940.0306000002, 555143.53280000016]
          ]
      },
      "properties": &#123;
          "DEVELOPMENT_DATE": "2022-03-30"
      }
	  }
    ]
 }
        </pre>
      </mat-expansion-panel>
    </form>
  </div>
</div>

