
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong>FOM Geospatial Submission Format Overview</strong>
    </mat-panel-title>
    <mat-panel-description>
      Click to expand/collapse
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>
    This Forest Operations Map (FOM) geospatial submission format is based on GeoJSON 
    (<a href="https://geojson.org/" rel="noopener" target="_blank">https://geojson.org/</a>,
    <a href="https://tools.ietf.org/html/rfc7946" rel="noopener" target="_blank">https://tools.ietf.org/html/rfc7946</a>),
    but with some deviations. (Therefore, technically this is a JSON format, not a compliant GeoJSON format.)
  </p>

  <p>
    Submit one JSON file per FOM geospatial object type: cut block, WTRA (wildlife tree retention area), or road section. A submission must include at least one cut block file or one road section file.
  </p>

  <p>
    Each JSON file consists of one FeatureCollection object (as per GeoJSON) that lists geometries of the appropriate type (polygon or linestring) based on the FOM object type (see table below).
  </p>

  <p>
    GeoJSON geometry points must be specified using the BC Albers (EPSG:3005) coordinate reference system—not latitude and longitude. Coordinates are ordered as X, Y.
  </p>

  <p>
    Geometries for cut blocks and road sections are also required to provide the property DEV_DATE. Providing the NAME property is optional but is recommended to make it easier for citizens to comment on specific features. The attribute table of spatial submissions must include the columns depicted below. All cells need to be formatted as text (including the DEV_DATE column).
  </p>

  <p>
    The JSON files should use UTF-8 for the character encoding.
  </p>
  <table aria-label="Table:Properties of each Geometry Type">
    <thead>
    <tr>
      <th scope="col">FOM Spatial Object / File</th>
      <th scope="col">Geometry Type</th>
      <th scope="col" colspan="1">DEV_DATE</th>
      <th scope="col" colspan="1">NAME</th>
    </tr>
    </thead>
    <tr>
      <td>Road Section</td>
      <td>LineString</td>
      <td colspan="1" class="confluenceTd">YYYY-MM-DD</td>
      <td colspan="1" class="confluenceTd">NAME</td>
    </tr>
    <tr>
      <td>Cut Block</td>
      <td>Polygon</td>
      <td colspan="1" class="confluenceTd">YYYY-MM-DD</td>
      <td colspan="1" class="confluenceTd">NAME</td>
    </tr>
    <tr>
      <td>WTRA</td>
      <td >Polygon</td>
      <td colspan="1" class="confluenceTd">Enter YYYY-MM-DD or leave blank</td>
      <td colspan="1" class="confluenceTd">NAME</td>
    </tr>
  </table>

  <section>
    <p><strong>Property Format</strong></p>
    <p>This table specifies the description and format of required properties.</p>
  
    <table aria-label="Table: Description and format of required properties">
      <thead>
        <tr>
          <th scope="col">Property</th>
          <th scope="col">Description</th>
          <th scope="col">Value Format</th>
        </tr>
      </thead>
      <tr>
        <td>DEV_DATE</td>
        <td>Planned date to start development</td>
        <td>Date string in the format "YYYY-MM-DD"</td>
      </tr>
      <tr>
        <td>NAME</td>
        <td>Description/identifier for the spatial object.</td>
        <td>Text, maximum length 50 characters.</td>
      </tr>
    </table>

    <p>
      Prior to publishing a FOM, spatial data can be replaced. In order to do so, a new GeoJSON file has to be uploaded (repeat the regular upload process). This new file will then replace the old one. Successful upload/replacement can be confirmed by clicking on the “Location” button on the “Summary Screen”.
    </p>
    <p>
      Data submitted will be published overnight. Therefore, it will not become viewable in the public interface until the day after the Publish action is performed.
    </p>
  </section>

  <section>
    <p><strong>FOM Example Submissions</strong></p>
    <p>
      This section provides sample submission files.
    </p>
    <p>
      If you are using the ArcGIS conversion tool “Features To JSON” to create your spatial submission, ensure that the “GeoJSON” box is checked prior to running the tool.
    </p>
    <p>
      <img src="assets/images/arcgis-featuresToJson.png" alt="ArcGIS Conversion Tool 'Features To JSON' Example PNG" width="800" height="494">
    </p>
  </section>

  <section>
    <p><strong>Cut Block File</strong></p>
    <p>
      This sample file contains two cut blocks.
    </p>
    <pre>
      {{cutblokJSONpretty}}
    </pre>
  </section>

  <section>
    <p><strong>WTRA File</strong></p>
    <pre>
      {{wtraJSONpretty}}
    </pre>
  </section>

  <section>
    <p><strong>Road Section File</strong></p>
    <pre>
      {{roadJSONpretty}}
    </pre>
  </section>
</mat-expansion-panel>

