@import "../../../../assets/styles/base/base.scss";

mat-expansion-panel {
  .mat-expansion-panel-header {
    padding-left: 10px;
    padding-right: 10px;
  }

  ::ng-deep .mat-expansion-panel-content > .mat-expansion-panel-body {
    padding-right: 0px;
    padding-left:0px;
  }
}

.filter-container {
  padding: 5px 10px 0;
  div {
    padding-bottom: 5px;
  }

  .filter-panel {
    @include flex-box();
    @include flex-direction(row);
    justify-content: space-between;
    gap: 10px;
    flex-flow: row wrap;
  
    div {
      @include flex(1 1 auto);
    }

    input {
      height: 2.75rem;
    }
  }
}

// use to force filter field to wrap.
.width-min-medium {
  min-width: 175px;
}
