<header class="app-header" id="header"
  [ngClass]="{'app-header--flex': (router.url.startsWith('/projects'))}">
  <nav class="navbar navbar-expand-md justify-content-between">
    <a class="navbar-brand" title="Forest Operations Map" routerLink="/home/true">
      <span class="navbar-brand__title">Forest Operations Map</span>
    </a>
    <span class="navbar-environment" *ngIf="environmentDisplay">{{environmentDisplay}}</span>

    <button class="navbar-toggler" type="button" title="Toggle Main Navigation"
      aria-controls="navbarText" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
      (click)="toggleNav()">
      <em class="material-icons">menu</em>
    </button>
    <div class="navbar-collapse" [@toggleNav]="isNavMenuOpen ? 'navOpen' : 'navClosed'" id="mainNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" title="Find FOM Applications in British Columbia" routerLink="/home/false">
            <span>All FOMs</span>
          </a>
        </li>
        <div class="v-bar"><div></div></div>
        <li class="nav-item">
          <a class="nav-link" title="About Us" routerLink="/about">
            <span>About</span>
          </a>
        </li>
        <div class="v-bar"><div></div></div>
        <li class="nav-item">
          <a class="nav-link" title="Contact Us" routerLink="/contact">
            <span>Contact us</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
