<!-- MAP THUMBNAIL -->
<div class="map-thumbnail">
    <div class="map-thumbnail__no-results" *ngIf="!projectSpatialDetail || projectSpatialDetail.length === 0">
        <span class="no-results-msg">No map available</span>
    </div>
    <div class="map-container">
        <div id="map" name="Thumbnail map displaying geographic shapes"></div>
    </div>
    <div class="container legand-container">
        <div class="row">
            <div class="col-sm-6 col-lg-8">
                <ul class="legend">
                    <li><span class="proposed-submission"></span> Proposed</li>
                    <li><span class="final-submission"></span> Final</li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4">
                <ul class="legend">
                    <li><span class="cut-block"></span> Cut Block</li>
                    <li><span class="retention_area"></span> Retention Area</li>
                    <li><span class="road_section"></span> Road Section</li>
                </ul>
            </div>
        </div>
    </div>
</div>