@import "../../../../assets/styles/base/base.scss";

.map-thumbnail {
  position: relative;

  #map {
    position: relative;
    height: 400px;
    outline: none;
    touch-action: none;
    background-color: #445a71;
  }
}

.map-thumbnail__no-results {
  text-align: center;
  position: absolute;
  background: #eee;
  z-index: 2000;
  width: 100%;
  height: 100%;
}

.no-results-msg {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  margin-top: -12px;
  text-align: center;
}

.legand-container {
  border-width: 0;
  background-color: #e4f0ec;
  border-bottom-width: 1px;
  border-style: solid;
  padding: 3px 5px;
  height: 100%;

  .legend { list-style: none; padding-left: 10px;}
  .legend li { float: left; margin-right: 10px; }
  .legend ul { margin-bottom: 0 !important;}
  .legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px;}
  /* your colors */
  .legend .cut-block {  background-color: rgba(51,136,255,0.3); }
  .legend .retention_area { background-color: rgba(124, 255, 135,0.5); }
  .legend .road_section { background-color: #000000; }

  .legend .final-submission { border-bottom: 2px solid black; width: 6em; height: 0; margin-top: 8px;}
  .legend .proposed-submission { border-bottom: 2px solid black; width: 6em; height: 0; margin-top: 8px; border-style: dashed;}
}

// Leaflet Control Customization
::ng-deep {
  .map-reset-control {
    margin-right: 12px !important;
    padding: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:hover {
      background: #f4f4f4;
    }
  }
}
