
<div class="interaction-detail-container" *ngIf="!interaction">
    <em>No engagement selected</em>
</div>

<div class="interaction-detail-container" *ngIf="interaction">
  <div class="title-container__title">
    <h2>&nbsp;</h2>
    <div class="interaction-detail__date">
      {{interaction.createTimestamp || today | date:'medium'}}
    </div>
  </div>
  <hr>

  <form [formGroup]="interactionFormGroup">
    <div class="form-group col-md">
      <label>Engagement Date</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control col-md-6"
          placeholder="YYYY-MM-DD"
          bsDatepicker
          #communicationDate="bsDatepicker"
          id="communicationDate"
          name="communicationDate"
          formControlName="communicationDate"
          [maxDate]="maxDate"
          readonly
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', adaptivePosition: true,
          containerClass: 'theme-dark-blue', showWeekNumbers: false  }"
        />
        <div class="input-group-append">
          <button class="btn btn-icon"  type="button" tabindex="-1"
                  (click)="communicationDate.show()"
                  [disabled]="!editMode"
                  [attr.aria-expanded]="communicationDate.isOpen">
            <em class="material-icons">date_range</em>
          </button>
        </div>
      </div>
    </div>

    <div id="stakeholderDiv" class="form-group col-md">
      <label for="stakeholder">Stakeholder</label>
      <input id="stakeholder" type="text"
            name="stakeholder"
            class="form-control col-md-6"
            maxlength="55"
            formControlName="stakeholder"/>
    </div>

    <div id="descriptionDiv" class="form-group col-md">
      <label for="description" class="control-label required">Description</label>
      <textarea id="description"
            name="communicationDetails"
            class="form-control col-md-12"
            rows="5"
            [ngClass]="{'is-invalid': interactionFormGroup.touched && !isValid('communicationDetails')}"
            maxlength="4000"
            formControlName="communicationDetails">
      </textarea>
      <div class="invalid-feedback" *ngIf="interactionFormGroup.touched && !isValid('communicationDetails')">
        Please provide description.
      </div>
    </div>

    <div id="communicationDetailsDiv" class="form-group col-md"
        *ngIf="editMode">
      <label for="upload">Engagement Attachment</label>
      <app-upload-box id="upload"
                      [multipleFiles]="false"
                      [files]="files"
                      [isBlob]="true"
                      [fileTypes]="supportingFileTypes"
                      (fileUploaded)="addNewFile($event)"
                      (outputFileContent)="getFileContent($event)">
      </app-upload-box>
      <div class="fileTypes"> <em>png, jpeg, jpg, tif, pdf, txt, csv, doc, docx, xls, xlsx, msg, rtf </em></div>
    </div>

    <div id="attachmentDiv" class="form-group col-md doc-list"
          style="padding: 0 15px"
          *ngIf="attachment">
      <label for="upload">Attachment</label>
      <a class="doc-list__item"
          [href]="getAttachmentUrl(attachment.id)"
          [title]="attachment.fileName || ''"
          target="_blank" rel="noopener">
        <div class="cell doc-list__item-icon">
          <em class="material-icons">
              insert_drive_file
          </em>
        </div>
        <div class="cell doc-list__item-name">{{attachment.fileName}}</div>
      </a>
      <span class="vert-pipe">&nbsp;</span>
    </div>

    &nbsp;
    <ng-content>
    </ng-content>
  </form>

</div>

