@import "~assets/styles/base/base.scss";

section {
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid $gray2;
}

// Meta
.meta-container {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;

  li {
    display: table-row;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  li + li {
    margin-top: 0.25rem;
  }

  .key {
    display: table-cell;
    padding-right: 1.5rem;
    padding-bottom: 0.2rem;
    white-space: nowrap;
    width: 25%;
  }

  .value {
    display: table-cell;
    //font-style: italic;
  }
}

// Shapefile List
.shapefile-list {
  margin-top: 1.25rem;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;

  .shapefile-list__item + .shapefile-list__item {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    border-top: 1px solid $gray3;
  }

  .meta-container {
    margin-bottom: 0.5rem;
  }
}

.shapefile-list__id {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
}

mat-table {
  margin-top: 2em;
}

.mat-row:nth-child(even){
  background-color: #e4f0ec;
}

.mat-row:nth-child(odd){
  background-color:#ffffff;
}

// switching to list
@media screen and (max-width: 600px) {
  #si-featureTable {
    display: none;
  }
}

// switching to table
@media screen and (min-width: 601px) {
  #sifeatureList {
    display: none;
  }
}
