@import "assets/styles/base/base.scss";

:host {
  @include flex-box();
  @include flex-direction(column);
  @include flex(1 1 auto);

  overflow:hidden;
}

.bottom-container.scroll {
  height: 32em; // Need to set height for scroll (but won't be good for mobile device). However admin does not support mobile.
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.03rem;

  strong {
    font-weight: 400;
  }
}

.btn-sm {
  i {
    margin-top: -0.1rem;
  }
}

.grid-container {
  display: grid;
  grid-auto-rows: minmax(0, auto);
}

// Search Container
.search-container {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background: #f7f8fa;
}

.filter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  margin-top: 2rem;

  .filter-select,
  .filter-input {
    margin-bottom: 1rem;
  }

  .filter-input {
    @include placeholder {
      color: $gray7;
    }
  }

  .filter-buttons {
    .filter-btn-clear {
      margin-right: 1rem;
      padding: 0.75rem;
      font-size: 0.875rem;
      font-weight: 700;
    }

    .filter-btn-search {
      margin-right: 1rem;
      padding: 0.75rem;
      font-size: 0.875rem;
      font-weight: 700;
      width: 7rem;
    }

    .filter-btn-export {
      padding: 0.75rem;
      font-size: 0.875rem;
      font-weight: 700;

      i {
        &.material-icons {
          font-size: 1.1rem;
          font-weight: 700;
        }
      }
    }
  }

  .filter-count {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .spinner-border {
    font-size: 0.7rem;
    height: 0.95rem;
    width: 0.95rem;
  }
}

.main-search-field {
  input {
    height: 3rem;
    color: #000;
    font-size: 1.15rem;

    &:-webkit-autofill {
      box-shadow: 0 0 0 30px white inset;
    }
  }

  button {
    min-width: 10rem;
    font-weight: 700;
  }

  .input-group-addon {
    font-size: 1.15rem;
  }
}

.form-text {
  margin-top: 0.55rem;
  font-size: 0.85rem;
}

// Search Results Table
$sr-table-row-bg: #f7f8fa;

.search-results {
  table {
    margin-top: 2rem;
    table-layout: fixed;
  }

  th {
    padding: 0.5rem 1rem;
    overflow: hidden;
    border: none;
    background: $sr-table-row-bg;
    text-overflow: ellipsis;
    font-size: 0.875rem;
  }

  td {
    padding-top: 1.25rem;
    padding-right: 1rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    border: none;
    background: $sr-table-row-bg;
    line-height: 1.15rem;
    font-size: 0.9375rem;
  }
}

// Search Table Columns
.cl-file {
  padding-right: 0;
  width: 7rem;
  overflow: hidden;

  .cl-arrow {
    top: -0.55rem; // Offset top padding
    left: -1rem; // Offset left padding
  }
}

.disp {
  width: 5.0rem;
}

.status {
  width: 11rem;
}

.actions {
  width: 7rem;
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;

  .btn {
    margin-top: 1rem;
    width: 6rem;
    border-width: 2px;
    font-weight: 700;
  }
}

.app-details {
  border-top: 4px solid #fff;
}

.app-comment-details {
  td {
    padding-top: 0;
    padding-bottom: 1.25rem;

    a {
      color: #007bff;
    }
  }

  span {
    + .loading-comment-info {
      display: none;
    }
  }
}

// Crown Land File Number Arrow
$cl-arrow-size: 2.3rem;
$cl-arrow-color: #036;
$cl-arrow-font-color: #fff;

.cl-arrow {
  position: relative;
  display: inline-block;
  height: $cl-arrow-size;
  padding-top: 0.55rem;
  padding-right: 0.65rem;
  padding-left: 1rem;
  color: $cl-arrow-font-color;
  background: $cl-arrow-color;
  font-weight: bold;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: calc(#{$cl-arrow-size} * -1);
    display: block;
    width: $cl-arrow-size;
    height: $cl-arrow-size;
    border-style: solid;
    border-top-width: calc(#{$cl-arrow-size} / 2);
    border-top-color: transparent;
    border-bottom-width: calc(#{$cl-arrow-size} / 2);
    border-bottom-color: transparent;
    border-left-width: calc(#{$cl-arrow-size} / 2);
    border-left-color: $cl-arrow-color;
  }
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  box-shadow: 0 0 0.5rem #999;
  font-size: 0.875rem;

  button {
    padding: 0.5rem 1rem;
    color: #007bff;

    i {
      margin-top: -0.15rem;
      vertical-align: middle;
      margin-right: 0.25rem;
      margin-left: -0.25rem;
      font-size: 1.25rem;
      width: 1.5rem;
    }

    &:hover {
      color: #fff;
      background: #007bff;
    }
  }
}

.dropdown-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.dropdown-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.btn-container {
  position: relative;
  display: inline-block;
  font-weight: 700;

  button:disabled + span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media print {
  .bottom-container {
    display: block;
    height: 3000px;
    max-height: 100%;
    overflow-y: visible;
    overflow-x: visible;
    table {
      page-break-before:always !important; 
      page-break-after: always !important; 
      page-break-inside: auto; 
    }

  }
}