<div class="top-container" *ngIf="fg">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1 class="text-muted">{{isCreate ? 'Add New' : 'Edit'}} FOM {{isCreate ? '' : 'ID: '+originalProjectResponse.id}}</h1>
      </div>
      <div class="title-container__actions">
        <button
          class="btn btn-light"
          type="button"
          title="Cancel changes"
          (click)="cancelChanges()"
        >
          Cancel
        </button>
        <button *ngIf="isCreate; else saveButton"
          class="btn btn-primary ms-1"
          type="button"
          title="Create FOM"
          (click)="submit()"
          [disabled]="!fg.isModified"
        >{{ isLoading ? "Submitting" : "Submit" }}
          <em class="spinner rotating" [hidden]="!stateSvc.loading"></em>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="bottom-container" *ngIf="fg">

  <div class="container">

    <form class="mb-3" [formGroup]="fg">
      <div class="row">
        <legend>Application Details</legend>
      </div>

      <div class="row" >
          <div class="form-group col-md-2" *ngIf="!isCreate">
            <!-- FOM ID: disabled after fom is created -->
            <label>ID</label>
            <input
              type="text"
              class="form-control"
              id="id"
              name="name"
              disabled
              [value]="originalProjectResponse.id"
            />
          </div>

          <!-- Commenting Open Date: disabled when COMMENT_CLOSED -->
          <div class="form-group col-md">
            <label>Commenting Open Date</label>
              <div class="input-group" *ngIf="!isCommentingClosedState">
                <input
                  readonly
                  type="text"
                  class="form-control readonly-normal"
                  placeholder="YYYY-MM-DD"
                  bsDatepicker
                  [minDate]="minOpeningDate"
                  (keydown)="$event.preventDefault()"
                  #openDate="bsDatepicker"
                  id="commentingOpenDate"
                  name="commentingOpenDate"
                  formControlName="commentingOpenDate"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', adaptivePosition: true,
                                containerClass: 'theme-dark-blue', showWeekNumbers: false }"
                  (bsValueChange)="toggleClosedDate($event)"
                  [appFormControl]="fg.get('commentingOpenDate')"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-icon" type="button" tabindex="-1" (click)="openDate.show()"
                    [attr.aria-expanded]="openDate.isOpen">
                    <em class="material-icons">date_range</em>
                  </button>
                </div>
              </div>
              <input
                *ngIf="isCommentingClosedState"
                disabled
                id="commentingOpenDate"
                name="commentingOpenDate"
                class="form-control"
                type="text"
                placeholder="YYYY-MM-DD"
                [value]="getformatedDate('commentingOpenDate', DEFAULT_ISO_DATE_FORMAT)"
              />
          </div>

          <!-- Commenting Closed Date: disabled when COMMENT_CLOSED -->
          <div class="form-group col-md">
            <label>Commenting Closed Date</label>
            <div class="input-group" *ngIf="!isCommentingClosedState">
              <input
                readonly
                type="text"
                class="form-control readonly-normal"
                placeholder="YYYY-MM-DD"
                bsDatepicker
                [minDate]="minClosedDate"
                (keydown)="$event.preventDefault()"
                #closedDate="bsDatepicker"
                id="commentingClosedDate"
                name="commentingClosedDate"
                formControlName="commentingClosedDate"
                (bsValueChange)="validateClosedDate($event)"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', adaptivePosition: true,
                containerClass: 'theme-dark-blue', showWeekNumbers: false  }"
                [appFormControl]="fg.get('commentingClosedDate')"
              />
              <div class="input-group-append">
                <button class="btn btn-icon"  type="button" tabindex="-1" (click)="closedDate.show()"
                    [attr.aria-expanded]="closedDate.isOpen">
                  <em class="material-icons">date_range</em>
                </button>
              </div>
            </div>
            <input
              *ngIf="isCommentingClosedState"
              disabled
              id="commentingClosedDate"
              name="commentingClosedDate"
              class="form-control"
              type="text"
              placeholder="YYYY-MM-DD"
              [value]="getformatedDate('commentingClosedDate', DEFAULT_ISO_DATE_FORMAT)"
            />
          </div>
        </div>

        <div class="row">
          <!-- Start of Operations: disabled when COMMENT_OPEN -->
          <div class="form-group col">
            <label for="op-start-year" [ngClass]="{'required': !isCommentingOpenState}">Start of Operations</label>
            <div *ngIf="!isCommentingOpenState">
              <input
                readonly
                id="op-start-year"
                name="op-start-year"
                class="form-control readonly-normal"
                type="text"
                placeholder="YYYY"
                formControlName="opStartDate"
                bsDatepicker
                (keydown)="$event.preventDefault()"
                [bsConfig]="bsConfig"
                [appFormControl]="fg.get('opStartDate')"
              />
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('opStartDate')) 
                  && getErrorMessage('opStartDate', 'required')">
                  {{getErrorMessage('opStartDate', 'required')}}
              </div>
            </div>

            <input
              *ngIf="isCommentingOpenState"
              disabled
              id="op-start-year"
              name="op-start-year"
              class="form-control"
              type="text"
              placeholder="YYYY"
              [value]="getformatedDate('opStartDate')"
            />
          </div>

          <!-- End of Operations: disabled when COMMENT_OPEN -->
          <div class="form-group col">
            <label for="op-end-year" [ngClass]="{'required': !isCommentingOpenState}">End of Operations</label>
            <div *ngIf="!isCommentingOpenState">
              <input
                readonly
                id="op-end-year"
                name="op-end-year"
                class="form-control readonly-normal"
                type="text"
                placeholder="YYYY"
                formControlName="opEndDate"
                bsDatepicker
                (keydown)="$event.preventDefault()"
                [bsConfig]="bsConfig"
                [appFormControl]="fg.get('opEndDate')"
              />
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('opEndDate')) 
                  && getErrorMessage('opEndDate', 'required')">
                  {{getErrorMessage('opEndDate', 'required')}}
              </div>
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('opEndDate')) 
                  && getErrorMessage('opEndDate', 'minDate')">
                  {{getErrorMessage('opEndDate', 'minDate')}}
              </div>
            </div>
            <input
              *ngIf="isCommentingOpenState"
              disabled
              id="op-end-year"
              name="op-end-year"
              class="form-control"
              type="text"
              placeholder="YYYY"
              [value]="getformatedDate('opEndDate')"
            />
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <!-- Type of Plan Holder: disabled after fom is created -->
            <label [ngClass]="{'required': isCreate}">Type of Plan Holder</label>
            <div *ngIf="isCreate">
              <select
                  class="form-control"
                  formControlName="projectPlanCode"
                  (change)="onProjectPlanChange($event)"
                  [ngClass]="{'is-invalid': !fg.get('projectPlanCode').value && isSubmitSaveClicked}" 
                  id="projectPlanSelectId">
                <option *ngFor="let option of projectPlanOptions" 
                  [value]="option.code"
                  [selected]="option.code === fg.get('projectPlanCode').value" 
                  [innerHTML]="option.description"> </option>
              </select>
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('projectPlanCode')) 
                && getErrorMessage('projectPlanCode', 'required')">
                {{getErrorMessage('projectPlanCode', 'required')}}
              </div>
            </div>
            <input *ngIf="!isCreate" type="text"
              class="form-control"
              id="projectPlanDescId"
              name="projectPlanDescription"
              disabled
              [value]="getProjectPlanDesc()"
            />
          </div>

          <!-- FSP ID: disabled when COMMENT_OPEN -->
          <div class="form-group col"
            *ngIf="fg.get('projectPlanCode').value == projectPlanCodeEnum.Fsp">
            <label for="fsp-id" [ngClass]="{'required': !isCommentingOpenState}" style="white-space: nowrap;"
            >FSP ID</label>
            <div *ngIf="!isCommentingOpenState">
              <input
                type="number"
                class="form-control"
                id="fsp-id"
                name="fsp-id"
                formControlName="fspId"
                [appFormControl]="fg.get('fspId')"
              />
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('fspId'))">
                <div>{{getErrorMessage('fspId', 'required')}}</div>
                <div>{{getErrorMessage('fspId', 'numeric')}}</div>
              </div>
            </div>
            <input *ngIf="isCommentingOpenState" type="text"
              class="form-control"
              id="fsp-id"
              name="fsp-id"
              disabled
              [value]="fg.get('fspId').value"
            />
          </div>

          <!-- Woodlot Licence Number: disabled when COMMENT_OPEN -->
          <div class="form-group col"
            *ngIf="fg.get('projectPlanCode').value == projectPlanCodeEnum.Woodlot">
            <label for="woodlot-id" [ngClass]="{'required': !isCommentingOpenState}" style="white-space: nowrap;"
            >Woodlot Licence Number</label>
            <div *ngIf="!isCommentingOpenState">
              <input
                type="text"
                class="form-control"
                id="woodlot-id"
                name="woodlot-id"
                formControlName="woodlotLicenseNumber"
                [appFormControl]="fg.get('woodlotLicenseNumber')"
              />
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('woodlotLicenseNumber'))">
                <div>
                  {{getErrorMessage('woodlotLicenseNumber', 'required')}}
                </div>
                <div>
                  {{getErrorMessage('woodlotLicenseNumber', 'woodlotFormat')}}
                </div>
              </div>
            </div>
            <input *ngIf="isCommentingOpenState" type="text"
              class="form-control"
              id="woodlot-id"
              name="woodlot-id"
              disabled
              [value]="fg.get('woodlotLicenseNumber').value"
            />
          </div>
        </div>

        <!-- District: disabled after INITIAL -->
        <div class="row">
          <div class="form-group col">
            <label for="district-list" style="white-space: nowrap;">District</label>
            <div *ngIf="isInitialState">
              <select
                class="sort-comments form-control" [ngClass]="{'is-invalid': !districtIdSelect && isSubmitSaveClicked}" (change)="changeDistrictId($event)" id="district-list">
                <option *ngIf="isCreate || !districtIdSelect">  </option>
                <option  [value]="district.id" *ngFor="let district of districts" [selected]="district.id === districtIdSelect" [innerHTML]=" district.name "> </option>
              </select>
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('district')) 
                && getErrorMessage('district', 'required')">
                {{getErrorMessage('district', 'required')}}
              </div>
            </div>
            <input *ngIf="!isInitialState" type="text"
              class="form-control"
              id="district"
              name="district"
              disabled
              [value]="getDistrictDesc(fg.get('district').value)"
            />
          </div>
        </div>

        <!-- FOM Name disabled when COMMENT_OPEN -->
        <div class="row">
          <div class="form-group col">
            <label>FOM Name</label>
            <div *ngIf="!isCommentingOpenState">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                formControlName="name"
                [appFormControl]="fg.get('name')"
              />
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('name')) 
                && getErrorMessage('name', 'required')">
                {{getErrorMessage('name', 'required')}}
              </div>
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('name')) 
                  && getErrorMessage('name', 'minLength')">
                  {{getErrorMessage('name', 'minLength')}}
              </div>
            </div>
            <input
              *ngIf="isCommentingOpenState"
              type="text"
              class="form-control"
              id="name"
              name="name"
              disabled
              [value]="fg.get('name').value"
            />
          </div>

          <!-- FOM Holder: disabled after fom is created -->
          <div class="form-group col">
            <label>FOM Holder</label>
            <select *ngIf="isCreate" 
                class="sort-comments form-control"
                formControlName="forestClient"
                [ngClass]="{'is-invalid': !forestClientSelect && isSubmitSaveClicked}" 
                (change)="onForestClientChange($event)" 
                id="forestClient-list">
              <option *ngIf="isCreate">  </option>
              <option *ngFor="let client of forestClients" 
                [ngValue]="client"  
                [selected]="client.id === forestClientSelect" 
                [innerHTML]=" client.name"> </option>
            </select>
            <input *ngIf="!isCreate"
                   type="text"
              class="form-control"
              id="forestId"
              name="forestName"
              disabled
              [value]="originalProjectResponse.forestClient.name"
            />
            <div class="invalid-feedback" 
              *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('forestClient')) 
              && getErrorMessage('forestClient', 'required')">
              {{getErrorMessage('forestClient', 'required')}}
            </div>
          </div>
        </div>

        <!-- Timber Sales Manager Name: disabled when COMMENT_OPEN -->
        <div class="row" *ngIf="isHolderBctsManger()">
          <div class="form-group col">
            <label [ngClass]="{'required': !isCommentingOpenState}">
                Timber Sales Manager Name
            </label>
            <div *ngIf="!isCommentingOpenState">
              <input
                type="text"
                class="form-control"
                id="mgr-name-id"
                name="bctsMgrName"
                maxlength="50"
                formControlName="bctsMgrName"
                [appFormControl]="fg.get('bctsMgrName')"
              />
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('bctsMgrName')) 
                && getErrorMessage('bctsMgrName', 'required')">
                {{getErrorMessage('bctsMgrName', 'required')}}
              </div>
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('bctsMgrName')) 
                  && getErrorMessage('bctsMgrName', 'minLength')">
                  {{getErrorMessage('bctsMgrName', 'minLength')}}
              </div>
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('bctsMgrName')) 
                  && getErrorMessage('bctsMgrName', 'maxLength')">
                  {{getErrorMessage('bctsMgrName', 'maxLength')}}
              </div>
            </div>
            <input
              *ngIf="isCommentingOpenState"
              type="text"
              disabled
              class="form-control"
              id="mgr-name-id"
              name="bctsMgrName"
              [value]="fg.get('bctsMgrName').value"
            />
          </div>
        </div>

        <!-- Description: disabled when COMMENT_OPEN -->
        <div class="row">
          <div class="form-group col-md">
            <label>Description</label>
            <div *ngIf="!isCommentingOpenState">
              <textarea
                (keyup)="changeDescription($event)"
                class="form-control" [ngClass]="{'is-invalid': !descriptionValue && isSubmitSaveClicked && !isCreate}"
                rows="3"
                id="description"
                name="description"
                formControlName="description"
                [appFormControl]="fg.get('description')"
                maxlength="{{descriptionLimit}}"
              ></textarea>
              <small>{{descriptionLimit-fg.get('description').value?.length}} characters remaining.</small>
              <div class="invalid-feedback" 
                *ngIf="(isSubmitSaveClicked || fieldTouchedOrDirty('description')) 
                && getErrorMessage('description', 'required')">
                {{getErrorMessage('description', 'required')}}
              </div>
            </div>
            <textarea
              *ngIf="isCommentingOpenState"
              class="form-control"
              id="description"
              name="description"
              disabled
              [value]="fg.get('description').value"
            ></textarea>
          </div>
        </div>

      <section *ngIf="!isCreate && isCreateAttachmentAllowed()">
        <div class="row">
          <div class="form-group col-md-6">
            <strong>Newspaper Public Notice</strong>
          </div>
          <div class="form-group col-md-6">
              <strong>Attachment</strong>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4" >
            <app-upload-box [multipleFiles]="false" [files]="initialPublicDocument"
                            [isBlob]="true"
                            [fileTypes]="fileTypesParentInitial"
                            (fileUploaded)="addNewFileInitialPublic($event)"
                            (outputFileContent)="getContentFileFromUpload($event)"
                            [maxFileSizeMB]="maxFileSize"
            ></app-upload-box>
            <div class="fileTypes"><em>Acceptable File Types: png, jpeg, jpg, tif, pdf </em></div>
          </div>
          <div class="form-group col-md-8">
            <div class="doc-list row"
                  *ngFor="let attachment of attachmentsInitialNotice">
                <a class="doc-list__item"
                    style="width: 90%;cursor:pointer"
                    (click)="attachmentResolverSvc.getFileContents(attachment.id, attachment.fileName)"
                    [title]="attachment.fileName || ''"
                    rel="noopener">
                  <div class="cell doc-list__item-icon">
                    <em class="material-icons">
                      insert_drive_file
                    </em>
                  </div>
                  <div class="cell doc-list__item-name">{{attachment.fileName}} &nbsp;</div>
                  <div style="text-align: right;margin-right: 5px;">({{attachment.attachmentType.description}})</div>
                </a>
                <span *ngIf="isDeleteAttachmentAllowed(attachment)" class="vert-pipe">&nbsp;</span>
                <button *ngIf="isDeleteAttachmentAllowed(attachment)" class="btn btn-icon row doc-list__item" title="Delete this attachment"
                      (click)="deleteAttachment(attachment.id)"
                      [disabled]="isDeleting">
                  <em class="material-icons">
                    delete
                  </em>
                </button>
            </div>
          </div>
          <div class="row" *ngIf="attachmentsInitialNotice.length > 0">
            <div class="col-md-12">
              <h6><em>Uploading this Public Notice attachment will overwrite the existing, saved Public Notice. If you need to save multiple Public Notices, please upload additional notices to the FOM Supporting Documents area.</em></h6>
            </div>
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="form-group col-md-6">
            <strong>FOM Supporting Documents</strong>
          </div>
          <div class="form-group col-md-6">
            <strong>Attachments</strong>
          </div>
        </div>
          <div class="row">
            <div class="form-group col-md-4">
              <app-upload-box [multipleFiles]="false" [files]="supportingDocuments"
                              [isBlob]="true"
                              [fileTypes]="fileTypesParentSupporting"
                              (fileUploaded)="addNewFileSupporting($event)"
                              (outputFileContent)="getContentFileSupportingDoc($event)"
                              [maxFileSizeMB]="maxFileSize">
              </app-upload-box>
              <div class="fileTypes"><em>Acceptable File Types: png, jpeg, jpg, tif, pdf, txt, csv, doc, docx, xls, xlsx </em></div>
            </div>
            <div class="form-group col-md-8">
              <div class="doc-list row"
                 *ngFor="let attachment of attachments">
                <a class="doc-list__item"
                    style="width: 90%;cursor:pointer"
                    (click)="attachmentResolverSvc.getFileContents(attachment.id, attachment.fileName)"
                    [title]="attachment.fileName || ''"
                    rel="noopener">
                  <div class="cell doc-list__item-icon">
                    <em class="material-icons">
                      insert_drive_file
                    </em>
                  </div>
                  <div class="cell doc-list__item-name">{{attachment.fileName}}</div>
                  <div style="text-align: right;margin-right: 5px;">({{attachment.attachmentType.description}})</div>
                </a>
                <button *ngIf="isDeleteAttachmentAllowed(attachment)" class="btn btn-icon row doc-list__item" title="Delete this attachment"
                      (click)="deleteAttachment(attachment.id)"
                      [disabled]="isDeleting">
                  <em class="material-icons">
                    delete
                  </em>
                </button>
            </div>
          </div>

      </div>
      </section>
    </form>
  </div>
</div>

<ng-template #saveButton>
  <button
          class="btn btn-primary ms-1"
          type="button"
          title="Save your changes"
          (click)="saveApplication()"
          [disabled]="isPublishState"
  >{{ isLoading ? "Saving" : "Save" }}
    <em class="spinner rotating" [hidden]="!stateSvc.loading"></em>
  </button>

</ng-template>
